{% extends "all.html" %}
{% load cache %}
{% block content %}
    <h3>Kursy użytkownika <b>{{ user1 }}</b></h3>
    <p>Wybierz interesujący Cię kurs by pobrać oceny</p>
    <div id="grades-wrapper">
    {% for cat in kursy %}
        <a href="{% url 'course' cat.1 %}">{{ cat.0 }}</a>
    {% endfor %}
    </div>
{% endblock %}