<nav class="span-4 last">
            <br />
            <ul id="menu">
                    <li><a href="{% url 'login' %}">Zaloguj się</a></li>
                    <li><a href="{% url 'retard' %}">Przedłuż sesje</a></li>
                   <li><a href="{% url 'logout' %}">Wyloguj się</a></li>

            </ul>
        </nav>