{% extends "all.html" %}
{% block content %}

    <h3>Oceny użytkownika <b>{{ user }}</b></h3>
    <h4 class="title">P</h4>
    <a href="{% url 'download' kurs %}">Pobierz do pliku</a>
    <div id="grades-wrapper">
    {% for cat in oceny %}
        <div>
            <h4>{{ cat.0 }}</h4>
         <ul>
         {% for thing in cat.1 %}
               <li> <i>{{ thing.0 }}:</i>  <span class="score"> {{ thing.1 }}</span></li>
         {% endfor %}
         </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}